In [1]:
import findspark
findspark.init()
from pyspark import SparkContext
from pyspark.sql import SparkSession
spark = SparkSession.builder \
     .appName("Test SparkSession") \
     .getOrCreate()

In [2]:
df1990 = spark.read.csv("s3://chenxiyuanly502/project/2gram_1990")

In [3]:
df2000 = spark.read.csv("s3://chenxiyuanly502/project/2gram_2000")

In [4]:
df1990.show(5)

+------------+----+----+----+
|         _c0| _c1| _c2| _c3|
+------------+----+----+----+
|"Bulverhithe| 4.0| 2.0| 4.0|
|      Bur at|23.0|19.0|23.0|
|    But Posy| 2.0| 2.0| 2.0|
| Butler didn|60.0|50.0|60.0|
|COUNCIL HELD|14.0| 9.0|13.0|
+------------+----+----+----+
only showing top 5 rows

In [5]:
df1990.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [6]:
oldColumns = df1990.schema.names

In [7]:
oldColumns

['_c0', '_c1', '_c2', '_c3']

In [8]:
newColumns = ["ngram", "occurrences","books","pages"]

In [9]:
for i in range(len(oldColumns)):
    df1990 = df1990.withColumnRenamed(oldColumns[i], newColumns[i])

In [10]:
df1990.printSchema()

root
 |-- ngram: string (nullable = true)
 |-- occurrences: string (nullable = true)
 |-- books: string (nullable = true)
 |-- pages: string (nullable = true)

In [11]:
df1900 = spark.read.csv("s3://chenxiyuanly502/project/2gram_1900")

In [12]:
df1900.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [13]:
for i in range(len(oldColumns)):
    df1900 = df1900.withColumnRenamed(oldColumns[i], newColumns[i])

In [14]:
for i in range(len(oldColumns)):
    df2000 = df2000.withColumnRenamed(oldColumns[i], newColumns[i])

In [15]:
df1900.show(5)

+------------+-----------+-----+-----+
|       ngram|occurrences|books|pages|
+------------+-----------+-----+-----+
|  "Budweiser|        3.0|  2.0|  3.0|
|  But doomed|       13.0| 13.0| 13.0|
|  By Hasselt|       13.0| 13.0| 13.0|
| Cadmus were|       10.0| 10.0| 10.0|
|Caldigate as|       26.0|  5.0| 26.0|
+------------+-----------+-----+-----+
only showing top 5 rows

In [16]:
df2000 = df2000.filter(df2000.occurrences >= 100)

In [17]:
df2000 = df2000.filter(df2000.occurrences >= 1000)
df2000.count()

1505674

In [18]:
df1990 = df1990.filter(df1990.occurrences >= 1000)
df1990.count()

943248

In [19]:
oldColumns = df2000.schema.names
newColumns = ["ngram", "occurrences2000","books2000","pages2000"]
for i in range(len(oldColumns)):
    df2000 = df2000.withColumnRenamed(oldColumns[i], newColumns[i])

In [20]:
oldColumns = df1990.schema.names
newColumns = ["ngram", "occurrences1990","books1990","pages1990"]
for i in range(len(oldColumns)):
    df1990 = df1990.withColumnRenamed(oldColumns[i], newColumns[i])

In [21]:
df = df2000.join(df1990, ['ngram'])

In [22]:
df.printSchema()

root
 |-- ngram: string (nullable = true)
 |-- occurrences2000: string (nullable = true)
 |-- books2000: string (nullable = true)
 |-- pages2000: string (nullable = true)
 |-- occurrences1990: string (nullable = true)
 |-- books1990: string (nullable = true)
 |-- pages1990: string (nullable = true)

In [23]:
df.show(5)

+--------------+---------------+---------+---------+---------------+---------+---------+
|         ngram|occurrences2000|books2000|pages2000|occurrences1990|books1990|pages1990|
+--------------+---------------+---------+---------+---------------+---------+---------+
|         ! All|        95973.0|  54183.0|  93545.0|        33508.0|  19552.0|  32669.0|
|    """ After"|       645983.0| 147470.0| 630108.0|       254774.0|  60127.0| 248130.0|
|""" Afterward"|         6122.0|   5115.0|   6050.0|         3319.0|   2711.0|   3280.0|
| """ Bartleby"|         1847.0|    283.0|   1370.0|         1345.0|    255.0|    942.0|
|   """ Boomer"|         3186.0|    355.0|   1824.0|         1958.0|    164.0|    910.0|
+--------------+---------------+---------+---------+---------------+---------+---------+
only showing top 5 rows

In [24]:
from pyspark.sql.functions import desc

df = df.sort(desc("occurrences2000"))

In [25]:
df = df.withColumn("occurrences2000",  df['occurrences2000'].cast('int'))
df = df.withColumn("books2000",  df['books2000'].cast('int'))
df = df.withColumn("pages2000",  df['pages2000'].cast('int'))
df = df.withColumn("occurrences1990",  df['occurrences1990'].cast('int'))
df = df.withColumn("books1990",  df['books1990'].cast('int'))
df = df.withColumn("pages1990",  df['pages1990'].cast('int'))

In [26]:
df = df.sort(desc("occurrences2000"))

In [27]:
df.show(5)

+-------+---------------+---------+---------+---------------+---------+---------+
|  ngram|occurrences2000|books2000|pages2000|occurrences1990|books1990|pages1990|
+-------+---------------+---------+---------+---------------+---------+---------+
|   Mr .|        9822203|   170081|  4952729|        2585207|    72938|  1349166|
|she was|        9787582|   211182|  7116190|        3979782|    90275|  2850958|
|   I am|        9732835|   228986|  6808620|        3127362|   104319|  2208289|
|did not|        9679205|   230301|  7693735|        4344349|   109963|  3424445|
|  to do|        9666537|   243301|  8124698|        4117244|   114076|  3448710|
+-------+---------------+---------+---------+---------------+---------+---------+
only showing top 5 rows

In [28]:
from pyspark.ml.feature import Normalizer

In [29]:
from pyspark.ml.feature import MinMaxScaler
from pyspark.ml.feature import VectorAssembler
from pyspark.ml import Pipeline
from pyspark.sql.functions import udf
from pyspark.sql.types import DoubleType

# UDF for converting column type from vector to double type
unlist = udf(lambda x: round(float(list(x)[0]),3), DoubleType())

# Iterating over columns to be scaled
for i in ["occurrences2000","occurrences1990"]:
    # VectorAssembler Transformation - Converting column to vector type
    assembler = VectorAssembler(inputCols=[i],outputCol=i+"_Vect")

    # MinMaxScaler Transformation
    scaler = MinMaxScaler(inputCol=i+"_Vect", outputCol=i+"_Scaled")

    # Pipeline of VectorAssembler and MinMaxScaler
    pipeline = Pipeline(stages=[assembler, scaler])

    # Fitting pipeline on dataframe
    l1df = pipeline.fit(df).transform(df).withColumn(i+"_Scaled", unlist(i+"_Scaled")).drop(i+"_Vect")

print("After Scaling :")
l1df.show(5)

After Scaling :
+-------+---------------+---------+---------+---------------+---------+---------+----------------------+
|  ngram|occurrences2000|books2000|pages2000|occurrences1990|books1990|pages1990|occurrences1990_Scaled|
+-------+---------------+---------+---------+---------------+---------+---------+----------------------+
|   Mr .|        9822203|   170081|  4952729|        2585207|    72938|  1349166|                 0.362|
|she was|        9787582|   211182|  7116190|        3979782|    90275|  2850958|                 0.557|
|   I am|        9732835|   228986|  6808620|        3127362|   104319|  2208289|                 0.438|
|did not|        9679205|   230301|  7693735|        4344349|   109963|  3424445|                 0.609|
|  to do|        9666537|   243301|  8124698|        4117244|   114076|  3448710|                 0.577|
+-------+---------------+---------+---------+---------------+---------+---------+----------------------+
only showing top 5 rows

In [30]:
l1df.printSchema()

root
 |-- ngram: string (nullable = true)
 |-- occurrences2000: integer (nullable = true)
 |-- books2000: integer (nullable = true)
 |-- pages2000: integer (nullable = true)
 |-- occurrences1990: integer (nullable = true)
 |-- books1990: integer (nullable = true)
 |-- pages1990: integer (nullable = true)
 |-- occurrences1990_Scaled: double (nullable = true)

In [31]:
l1df= l1df.drop('books2000')
l1df= l1df.drop('pages2000')
l1df= l1df.drop('books1990')
l1df= l1df.drop('pages1990')
l1df.printSchema()

root
 |-- ngram: string (nullable = true)
 |-- occurrences2000: integer (nullable = true)
 |-- occurrences1990: integer (nullable = true)
 |-- occurrences1990_Scaled: double (nullable = true)

In [32]:
i = "occurrences2000"
assembler = VectorAssembler(inputCols=[i],outputCol=i+"_Vect")

# MinMaxScaler Transformation
scaler = MinMaxScaler(inputCol=i+"_Vect", outputCol=i+"_Scaled")

# Pipeline of VectorAssembler and MinMaxScaler
pipeline = Pipeline(stages=[assembler, scaler])

# Fitting pipeline on dataframe
l1df = pipeline.fit(l1df).transform(l1df).withColumn(i+"_Scaled", unlist(i+"_Scaled")).drop(i+"_Vect")

print("After Scaling :")
l1df.show(5)

After Scaling :
+-------+---------------+---------------+----------------------+----------------------+
|  ngram|occurrences2000|occurrences1990|occurrences1990_Scaled|occurrences2000_Scaled|
+-------+---------------+---------------+----------------------+----------------------+
|   Mr .|        9822203|        2585207|                 0.362|                   1.0|
|she was|        9787582|        3979782|                 0.557|                 0.996|
|   I am|        9732835|        3127362|                 0.438|                 0.991|
|did not|        9679205|        4344349|                 0.609|                 0.985|
|  to do|        9666537|        4117244|                 0.577|                 0.984|
+-------+---------------+---------------+----------------------+----------------------+
only showing top 5 rows

In [33]:
years = [1970,1980]
for y in years:
    address = "s3://chenxiyuanly502/project/2gram_"+str(y)
    occur_col = "occurrences"+str(y)
    
    tmp_df = spark.read.csv(address)
    
    oldColumns = tmp_df.schema.names
    newColumns = ["ngram", occur_col,"books","pages"]
    for i in range(len(oldColumns)):
        tmp_df = tmp_df.withColumnRenamed(oldColumns[i], newColumns[i])
    tmp_df = tmp_df.drop('books')
    tmp_df = tmp_df.drop('pages')
    
    l1df = l1df.join(tmp_df, ['ngram'])
    
    l1df = l1df.withColumn(occur_col,  l1df[occur_col].cast('int'))
    
    i = occur_col
    
    assembler = VectorAssembler(inputCols=[i],outputCol=i+"_Vect")

    # MinMaxScaler Transformation
    scaler = MinMaxScaler(inputCol=i+"_Vect", outputCol=i+"_Scaled")

    # Pipeline of VectorAssembler and MinMaxScaler
    pipeline = Pipeline(stages=[assembler, scaler])

    # Fitting pipeline on dataframe
    l1df = pipeline.fit(l1df).transform(l1df).withColumn(i+"_Scaled", unlist(i+"_Scaled")).drop(i+"_Vect")

    print("After Scaling :")
    l1df.show(5)

After Scaling :
+--------------+---------------+---------------+----------------------+----------------------+---------------+----------------------+
|         ngram|occurrences2000|occurrences1990|occurrences1990_Scaled|occurrences2000_Scaled|occurrences1970|occurrences1970_Scaled|
+--------------+---------------+---------------+----------------------+----------------------+---------------+----------------------+
|         ! All|          95973|          33508|                 0.005|                  0.01|          14648|                 0.004|
|    """ After"|         645983|         254774|                 0.036|                 0.066|          78929|                 0.021|
|""" Afterward"|           6122|           3319|                   0.0|                 0.001|            836|                   0.0|
| """ Bartleby"|           1847|           1345|                   0.0|                   0.0|            589|                   0.0|
|   """ Boomer"|           3186|           1958|                   0.0|                   0.0|            144|                   0.0|
+--------------+---------------+---------------+----------------------+----------------------+---------------+----------------------+
only showing top 5 rows

After Scaling :
+--------------+---------------+---------------+----------------------+----------------------+---------------+----------------------+---------------+----------------------+
|         ngram|occurrences2000|occurrences1990|occurrences1990_Scaled|occurrences2000_Scaled|occurrences1970|occurrences1970_Scaled|occurrences1980|occurrences1980_Scaled|
+--------------+---------------+---------------+----------------------+----------------------+---------------+----------------------+---------------+----------------------+
|         ! All|          95973|          33508|                 0.005|                  0.01|          14648|                 0.004|          19318|                 0.004|
|    """ After"|         645983|         254774|                 0.036|                 0.066|          78929|                 0.021|         123852|                 0.026|
|""" Afterward"|           6122|           3319|                   0.0|                 0.001|            836|                   0.0|           1709|                   0.0|
| """ Bartleby"|           1847|           1345|                   0.0|                   0.0|            589|                   0.0|           1519|                   0.0|
|   """ Boomer"|           3186|           1958|                   0.0|                   0.0|            144|                   0.0|            168|                   0.0|
+--------------+---------------+---------------+----------------------+----------------------+---------------+----------------------+---------------+----------------------+
only showing top 5 rows

In [34]:
l1df.count()

919277

In [35]:
l1df = l1df.drop("occurrences2000")
l1df = l1df.drop("occurrences1990")
l1df = l1df.drop("occurrences1980")
l1df = l1df.drop("occurrences1970")

In [36]:
l1df.printSchema()

root
 |-- ngram: string (nullable = true)
 |-- occurrences1990_Scaled: double (nullable = true)
 |-- occurrences2000_Scaled: double (nullable = true)
 |-- occurrences1970_Scaled: double (nullable = true)
 |-- occurrences1980_Scaled: double (nullable = true)

In [37]:
years = [1940,1950,1960]
for y in years:
    address = "s3://chenxiyuanly502/project/2gram_"+str(y)
    occur_col = "occurrences"+str(y)
    
    tmp_df = spark.read.csv(address)
    
    oldColumns = tmp_df.schema.names
    newColumns = ["ngram", occur_col,"books","pages"]
    for i in range(len(oldColumns)):
        tmp_df = tmp_df.withColumnRenamed(oldColumns[i], newColumns[i])
    tmp_df = tmp_df.drop('books')
    tmp_df = tmp_df.drop('pages')
    
    l1df = l1df.join(tmp_df, ['ngram'])
    
    l1df = l1df.withColumn(occur_col,  l1df[occur_col].cast('int'))
    
    i = occur_col
    
    assembler = VectorAssembler(inputCols=[i],outputCol=i+"_Vect")

    # MinMaxScaler Transformation
    scaler = MinMaxScaler(inputCol=i+"_Vect", outputCol=i+"_Scaled")

    # Pipeline of VectorAssembler and MinMaxScaler
    pipeline = Pipeline(stages=[assembler, scaler])

    # Fitting pipeline on dataframe
    l1df = pipeline.fit(l1df).transform(l1df).withColumn(i+"_Scaled", unlist(i+"_Scaled")).drop(i+"_Vect")
    
    l1df = l1df.drop(occur_col)

    print("After Scaling :")
    l1df.show(5)

After Scaling :
+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+
|         ngram|occurrences1990_Scaled|occurrences2000_Scaled|occurrences1970_Scaled|occurrences1980_Scaled|occurrences1940_Scaled|
+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+
|         ! All|                 0.005|                  0.01|                 0.004|                 0.004|                 0.006|
|    """ After"|                 0.036|                 0.066|                 0.021|                 0.026|                 0.029|
|""" Afterward"|                   0.0|                 0.001|                   0.0|                   0.0|                   0.0|
| """ Bartleby"|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|
|   """ Boomer"|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|
+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+
only showing top 5 rows

After Scaling :
+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
|         ngram|occurrences1990_Scaled|occurrences2000_Scaled|occurrences1970_Scaled|occurrences1980_Scaled|occurrences1940_Scaled|occurrences1950_Scaled|
+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
|         ! All|                 0.005|                  0.01|                 0.004|                 0.004|                 0.006|                 0.006|
|    """ After"|                 0.036|                 0.066|                 0.021|                 0.026|                 0.029|                 0.027|
|""" Afterward"|                   0.0|                 0.001|                   0.0|                   0.0|                   0.0|                   0.0|
| """ Bartleby"|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|
|   """ Boomer"|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|
+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
only showing top 5 rows

After Scaling :
+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
|         ngram|occurrences1990_Scaled|occurrences2000_Scaled|occurrences1970_Scaled|occurrences1980_Scaled|occurrences1940_Scaled|occurrences1950_Scaled|occurrences1960_Scaled|
+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
|         ! All|                 0.005|                  0.01|                 0.004|                 0.004|                 0.006|                 0.006|                 0.005|
|    """ After"|                 0.036|                 0.066|                 0.021|                 0.026|                 0.029|                 0.027|                 0.025|
|""" Afterward"|                   0.0|                 0.001|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|
| """ Bartleby"|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|
|   """ Boomer"|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|
+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
only showing top 5 rows

In [38]:
l1df.printSchema()

root
 |-- ngram: string (nullable = true)
 |-- occurrences1990_Scaled: double (nullable = true)
 |-- occurrences2000_Scaled: double (nullable = true)
 |-- occurrences1970_Scaled: double (nullable = true)
 |-- occurrences1980_Scaled: double (nullable = true)
 |-- occurrences1940_Scaled: double (nullable = true)
 |-- occurrences1950_Scaled: double (nullable = true)
 |-- occurrences1960_Scaled: double (nullable = true)

In [39]:
years = [1900,1910,1920,1930]
for y in years:
    address = "s3://chenxiyuanly502/project/2gram_"+str(y)
    occur_col = "occurrences"+str(y)
    
    tmp_df = spark.read.csv(address)
    
    oldColumns = tmp_df.schema.names
    newColumns = ["ngram", occur_col,"books","pages"]
    for i in range(len(oldColumns)):
        tmp_df = tmp_df.withColumnRenamed(oldColumns[i], newColumns[i])
    tmp_df = tmp_df.drop('books')
    tmp_df = tmp_df.drop('pages')
    
    l1df = l1df.join(tmp_df, ['ngram'])
    
    l1df = l1df.withColumn(occur_col,  l1df[occur_col].cast('int'))
    
    i = occur_col
    
    assembler = VectorAssembler(inputCols=[i],outputCol=i+"_Vect")

    # MinMaxScaler Transformation
    scaler = MinMaxScaler(inputCol=i+"_Vect", outputCol=i+"_Scaled")

    # Pipeline of VectorAssembler and MinMaxScaler
    pipeline = Pipeline(stages=[assembler, scaler])

    # Fitting pipeline on dataframe
    l1df = pipeline.fit(l1df).transform(l1df).withColumn(i+"_Scaled", unlist(i+"_Scaled")).drop(i+"_Vect")
    
    l1df = l1df.drop(occur_col)

    print("After Scaling :")
    l1df.show(5)

After Scaling :
+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
|         ngram|occurrences1990_Scaled|occurrences2000_Scaled|occurrences1970_Scaled|occurrences1980_Scaled|occurrences1940_Scaled|occurrences1950_Scaled|occurrences1960_Scaled|occurrences1900_Scaled|
+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
|         ! All|                 0.005|                  0.01|                 0.004|                 0.004|                 0.006|                 0.006|                 0.005|                 0.005|
|    """ After"|                 0.036|                 0.066|                 0.021|                 0.026|                 0.029|                 0.027|                 0.025|                 0.021|
|""" Afterward"|                   0.0|                 0.001|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|
|   """ Boomer"|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|
|     """ Cade"|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|
+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
only showing top 5 rows

After Scaling :
+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
|         ngram|occurrences1990_Scaled|occurrences2000_Scaled|occurrences1970_Scaled|occurrences1980_Scaled|occurrences1940_Scaled|occurrences1950_Scaled|occurrences1960_Scaled|occurrences1900_Scaled|occurrences1910_Scaled|
+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
|         ! All|                 0.005|                  0.01|                 0.004|                 0.004|                 0.006|                 0.006|                 0.005|                 0.005|                 0.005|
|    """ After"|                 0.036|                 0.066|                 0.021|                 0.026|                 0.029|                 0.027|                 0.025|                 0.021|                 0.022|
|""" Afterward"|                   0.0|                 0.001|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|
|   """ Boomer"|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|
|     """ Cade"|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|
+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
only showing top 5 rows

After Scaling :
+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
|         ngram|occurrences1990_Scaled|occurrences2000_Scaled|occurrences1970_Scaled|occurrences1980_Scaled|occurrences1940_Scaled|occurrences1950_Scaled|occurrences1960_Scaled|occurrences1900_Scaled|occurrences1910_Scaled|occurrences1920_Scaled|
+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
|         ! All|                 0.005|                  0.01|                 0.004|                 0.004|                 0.006|                 0.006|                 0.005|                 0.005|                 0.005|                 0.006|
|    """ After"|                 0.036|                 0.066|                 0.021|                 0.026|                 0.029|                 0.027|                 0.025|                 0.021|                 0.022|                 0.026|
|""" Afterward"|                   0.0|                 0.001|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|
|   """ Boomer"|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|
|     """ Cade"|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|
+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
only showing top 5 rows

After Scaling :
+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
|         ngram|occurrences1990_Scaled|occurrences2000_Scaled|occurrences1970_Scaled|occurrences1980_Scaled|occurrences1940_Scaled|occurrences1950_Scaled|occurrences1960_Scaled|occurrences1900_Scaled|occurrences1910_Scaled|occurrences1920_Scaled|occurrences1930_Scaled|
+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
|         ! All|                 0.005|                  0.01|                 0.004|                 0.004|                 0.006|                 0.006|                 0.005|                 0.005|                 0.005|                 0.006|                 0.007|
|    """ After"|                 0.036|                 0.066|                 0.021|                 0.026|                 0.029|                 0.027|                 0.025|                 0.021|                 0.022|                 0.026|                 0.027|
|""" Afterward"|                   0.0|                 0.001|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|
|   """ Boomer"|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|
|     """ Cade"|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|                   0.0|
+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
only showing top 5 rows

In [40]:
l1df.printSchema()

root
 |-- ngram: string (nullable = true)
 |-- occurrences1990_Scaled: double (nullable = true)
 |-- occurrences2000_Scaled: double (nullable = true)
 |-- occurrences1970_Scaled: double (nullable = true)
 |-- occurrences1980_Scaled: double (nullable = true)
 |-- occurrences1940_Scaled: double (nullable = true)
 |-- occurrences1950_Scaled: double (nullable = true)
 |-- occurrences1960_Scaled: double (nullable = true)
 |-- occurrences1900_Scaled: double (nullable = true)
 |-- occurrences1910_Scaled: double (nullable = true)
 |-- occurrences1920_Scaled: double (nullable = true)
 |-- occurrences1930_Scaled: double (nullable = true)

In [41]:
l1df.write.csv("s3://chenxiyuanly502/project/scaler_00")

In [42]:
l1df.count()

866827

In [43]:
from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator

In [44]:
km_data = l1df.drop('ngram')

In [47]:
kmeans = KMeans(k=5, seed=1)

In [50]:
from pyspark.ml.feature import VectorAssembler
vecAssembler = VectorAssembler(inputCols=km_data.columns, outputCol="features")
new_df = vecAssembler.transform(km_data)

In [51]:
model = kmeans.fit(new_df)

In [52]:
predictions = model.transform(new_df)

In [53]:
evaluator = ClusteringEvaluator()

silhouette = evaluator.evaluate(predictions)
print("Silhouette with squared euclidean distance = " + str(silhouette))

Silhouette with squared euclidean distance = 0.9826084853366345

In [54]:
centers = model.clusterCenters()
print("Cluster Centers: ")
for center in centers:
    print(center)

Cluster Centers:
[0.00064477 0.00097985 0.0005516  0.00062387 0.00057712 0.00057424
 0.00061087 0.00043706 0.00050446 0.00055504 0.00054908]
[0.45674766 0.69171963 0.38478505 0.4056729  0.43673832 0.43179439
 0.44457944 0.3707757  0.4013271  0.43685981 0.43383178]
[0.09912242 0.14967538 0.07727166 0.08450344 0.08510041 0.08429917
 0.08707772 0.06880536 0.0751293  0.08216988 0.08285076]
[0.24036559 0.37652957 0.1843414  0.20243011 0.20759946 0.20531183
 0.21089785 0.17045699 0.1821586  0.20169892 0.20365323]
[0.02688839 0.03959595 0.021109   0.02316722 0.02288174 0.02268258
 0.02355062 0.01825093 0.02022091 0.02208472 0.02216752]