In [1]:
import findspark
findspark.init()
from pyspark import SparkContext

In [2]:
sc = SparkContext()
sc

In [3]:
ngram = sc.sequenceFile("s3://datasets.elasticmapreduce/ngrams/books/20090715/eng-fiction-all/1gram/data")

In [4]:
ngram

MapPartitionsRDD[2] at mapPartitions at SerDeUtil.scala:244

In [5]:
def mapper(t):
    tmp = t[1]
    return tmp.split('\t')

In [6]:
gram1 = ngram.map(mapper)

In [7]:
gram1.first()

['#', '1594', '1', '1', '1']

In [8]:
from pyspark.sql import Row
gram1 = gram1.map(lambda x:Row(ngram=x[0],year=x[1],occurrences=x[2],pages=x[3],books=x[4]))

In [9]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
     .appName("Test SparkSession") \
     .getOrCreate()

In [10]:
df1 = spark.createDataFrame(gram1)

In [11]:
df1.show(10)

+-----+-----+-----------+-----+----+
|books|ngram|occurrences|pages|year|
+-----+-----+-----------+-----+----+
|    1|    #|          1|    1|1594|
|    1|    #|          1|    1|1605|
|    1|    #|          3|    3|1613|
|    1|    #|          2|    2|1634|
|    1|    #|          3|    2|1637|
|    1|    #|         19|   16|1639|
|    2|    #|          6|    6|1641|
|    1|    #|          1|    1|1650|
|    1|    #|          1|    1|1652|
|    1|    #|          6|    5|1653|
+-----+-----+-----------+-----+----+
only showing top 10 rows

In [12]:
gram2 = sc.sequenceFile("s3://datasets.elasticmapreduce/ngrams/books/20090715/eng-fiction-all/2gram/data")
gram2 = gram2.map(mapper)
gram2 = gram2.map(lambda x:Row(ngram=x[0],year=x[1],occurrences=x[2],pages=x[3],books=x[4]))
df2 = spark.createDataFrame(gram2)

In [13]:
df2.show(10)

+-----+-------+-----------+-----+----+
|books|  ngram|occurrences|pages|year|
+-----+-------+-----------+-----+----+
|    1|! 00000|          1|    1|1796|
|    1|! 00000|          1|    1|1832|
|    1|! 00000|          1|    1|1838|
|    1|! 00000|          1|    1|1840|
|    1|! 00000|          1|    1|1841|
|    1|! 00000|          1|    1|1881|
|    1|! 00000|          1|    1|1883|
|    2|! 00000|          2|    2|1892|
|    1|! 00000|          1|    1|1894|
|    1|! 00000|          1|    1|1897|
+-----+-------+-----------+-----+----+
only showing top 10 rows

In [14]:
df2_1800 = df2.filter(df2.year>=1800)

In [15]:
df2_1800.show(10)

+-----+-------+-----------+-----+----+
|books|  ngram|occurrences|pages|year|
+-----+-------+-----------+-----+----+
|    1|! 00000|          1|    1|1832|
|    1|! 00000|          1|    1|1838|
|    1|! 00000|          1|    1|1840|
|    1|! 00000|          1|    1|1841|
|    1|! 00000|          1|    1|1881|
|    1|! 00000|          1|    1|1883|
|    2|! 00000|          2|    2|1892|
|    1|! 00000|          1|    1|1894|
|    1|! 00000|          1|    1|1897|
|    2|! 00000|          2|    2|1900|
+-----+-------+-----------+-----+----+
only showing top 10 rows

In [16]:
df2_1800_1810 = df2_1800.filter(df2_1800.year<1810)

In [17]:
df2_1800_1810.show(10)

+-----+-----+-----------+-----+----+
|books|ngram|occurrences|pages|year|
+-----+-----+-----------+-----+----+
|    1|! 165|          1|    1|1800|
|    2|! 165|          2|    2|1804|
|    1|! 165|          1|    1|1805|
|    1|! 185|          1|    1|1806|
|    4|! 185|          4|    4|1807|
|    1|! 450|          1|    1|1804|
|    2| ! AH|          2|    2|1800|
|    2| ! AH|          2|    2|1803|
|    2| ! AH|          2|    2|1804|
|    1| ! AH|          1|    1|1805|
+-----+-----+-----------+-----+----+
only showing top 10 rows

In [18]:
group_data = df2_1800_1810.groupBy("ngram")

In [19]:
group1800_1810 = group_data.agg({'books':'sum', 'occurrences':'sum', 'pages':'sum'})

In [20]:
group1800_1810.printSchema()

root
 |-- ngram: string (nullable = true)
 |-- sum(occurrences): double (nullable = true)
 |-- sum(books): double (nullable = true)
 |-- sum(pages): double (nullable = true)

In [21]:
group1800_1810.cache()

DataFrame[ngram: string, sum(occurrences): double, sum(books): double, sum(pages): double]

In [24]:
group1800_1810 = group1800_1810.withColumnRenamed("sum(occurrences)", "occurrences")

In [25]:
group1800_1810 = group1800_1810.withColumnRenamed("sum(books)", "books")

In [26]:
group1800_1810 = group1800_1810.withColumnRenamed("sum(pages)", "pages")

In [27]:
group1800_1810.write.parquet("s3://chenxiyuanly502/2gram")

In [28]:
dat = spark.read.parquet("s3://chenxiyuanly502/2gram")

In [ ]:
dat.show(10)